<div class="main-content">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="./assets/img/bg/damir-bosnjak.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="javascript:void(0)">
              <img class="avatar border-gray" src="./assets/img/mike.jpg" alt="...">
              <h5 class="title">{{name}}</h5>
            </a>
          </div>
          <h1 class="text-center">
            <strong>{{heartRate}}</strong>
          </h1>
        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-6 ml-auto">
                <!-- <h5>Rate:
                </h5> -->
              </div>
              <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                
              </div>
              <div class="col-lg-3 mr-auto">
                <!-- <h5>24,6$
                  <br>
                  <small>Spent</small>
                </h5> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="card-header">
          <h4 class="card-title">Team Members</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  DJ Khaled
                  <br />
                  <span class="text-muted">
                    <small>Offline</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Creative Tim
                  <br />
                  <span class="text-success">
                    <small>Available</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                  Flume
                  <br />
                  <span class="text-danger">
                    <small>Busy</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Profile</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="PatientForm">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Status</label>
                  <input type="text" class="form-control" disabled="" placeholder="Status" formControlName="isActive">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Given Names</label>
                  <input type="text" class="form-control" placeholder="Given Names" formControlName="givenNames">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Last Name</label>
                  <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Email" formControlName="email">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Mobile</label>
                  <input type="text" class="form-control" placeholder="Mobile" formControlName="mobile">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Device ID</label>
                  <input type="text" class="form-control" placeholder="Device ID" formControlName="deviceId">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Date of Birth</label>
                  <input type="text" class="form-control" placeholder="Date of Birth" formControlName="dateOfBirth">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
