<div class="main-content">
    

        <div class="row">
          <div class="col-md-3">
            
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate1 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date1 | date:'medium' }}
              </p>
            </div>
          </div>

          <div class="col-md-3">
            
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate1 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date1 | date:'medium' }}
              </p>
            </div>
          </div>

          <div class="col-md-3">
            
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate1 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date1 | date:'medium' }}
              </p>
            </div>
          </div>

          <div class="col-md-3">
            
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate1 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date1 | date:'medium' }}
              </p>
            </div>
          </div>
          <!-- <div class="col-md-4">
              <div class="row">
                  <div class="col-md-8">
                    <form [formGroup]="FGroup2">
                        
                        <div class="form-group">
                            <input type="email" placeholder="ID" formControlName="formF2" class="form-control" >
                        </div>
                    </form>
                  </div>
                  <div class="col-md-2">
                      <button class="btn btn-default" [disabled]="track2" (click)="formTwoClick(FGroup2)">Track</button>
                  </div>
              </div>
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate2 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date2 | date:'medium' }}
              </p>
            </div>
          </div>
          <div class="col-md-4">
              <div class="row">
                  <div class="col-md-8">
                    <form [formGroup]="FGroup3">
                       
                        <div class="form-group">
                            <input type="email" placeholder="ID" formControlName="formF3" class="form-control" >
                        </div>
                    </form>
                  </div>
                  <div class="col-md-2">
                      <button class="btn btn-default" [disabled]="track3" (click)="formThreeClick(FGroup3)">Track</button>
                  </div>
              </div>
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate3 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date3 | date:'medium' }}
              </p>
          </div>
          </div> -->
        </div>

      <!-- Shold remove after refactoring -->
        <div class="row">
          <div class="col-md-3">
            
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate1 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date1 | date:'medium' }}
              </p>
            </div>
          </div>

          <div class="col-md-3">
            
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate1 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date1 | date:'medium' }}
              </p>
            </div>
          </div>

          <div class="col-md-3">
            
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate1 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date1 | date:'medium' }}
              </p>
            </div>
          </div>

          <div class="col-md-3">
            
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate1 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date1 | date:'medium' }}
              </p>
            </div>
          </div>
        
        </div>

        <div class="row">
          <div class="col-md-3">
            
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate1 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date1 | date:'medium' }}
              </p>
            </div>
          </div>

          <div class="col-md-3">
            
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate1 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date1 | date:'medium' }}
              </p>
            </div>
          </div>

          <div class="col-md-3">
            
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate1 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date1 | date:'medium' }}
              </p>
            </div>
          </div>

          <div class="col-md-3">
            
            <div class="card">
              <p class="m-5 mr-auto ml-auto"><strong style="font-size: 40px !important">{{ rate1 }}</strong></p>
              <p class="mr-auto ml-auto">
                  {{ date1 | date:'medium' }}
              </p>
            </div>
          </div>
          
        </div>
      <!-- end -->
        
</div>